   
    {% block sidebar %}
            <div class="block_profil">
                <h3 class="text-center">Nicolas Alliaume</h3>
                <h4 class="text-center">Dev Junior</h4>
            </div>
            <div class="block_nav">
                <nav class="navbar navbar-expand text-center">
                    <ul class="nav" style="width: -webkit-fill-available">
                        <li class="nav-item active"><a href="/#" class="nav-link text-white">Accueil</a></li>
                        <li class="nav-item"><a href="/#block_competences" class="nav-link text-white">Compétences</a></li>
                        <li class="nav-item"><a href="/#block_portfolio" class="nav-link text-white">Portfolio</a></li>
                        <li class="nav-item"><a href="/#block_contact" class="nav-link text-white">Contatct</a></li>
                    </ul> 
                </nav>
            </div>
            <div class="block_network">
                <h6>RESEAUX SOCIAUX</h6>
                <div class="d-flex justify-content-center">
                    <img class="" src="{{ asset('images/icons/icon-twitter.png') }}" alt="icon de twitter">
                    <img src="{{ asset('images/icons/icon-linkedin.png') }}" alt="icon de linkedin">
                </div>
            </div>
      
    
    {% endblock %}