  {% block footer %}
                    <div class="col-lg-12 mb-5 mt-5 text-center">
                        <a href="{{ path("mentions") }}" class="text-white">Mentions légales</a>
                    </div>
                    <div class="col-lg-12 text-dark copyright">
                            <p class="text-center">Tous droits réservés © Nicolas ALLIAUME 2020 - Portfolio numérique</p>
                            
                    </div>         
{% endblock %} 