{% extends 'base.html.twig' %}

{% block body %}
        {% include 'main/template.html.twig' %}
        <div class="block" id="block_home">
            <div class="container d-flex" id="presentation">
                <div class="row" id="block_presentation">
                    <div class="row d-flex" id="first_row">
                        <div class="has-animation animation-ltr" data-delay="4000" id="first_presentation">
                            <p><span>H</span></p>
                        </div>
                        <div class="has-animation animation-rtl" id="second_presentation">
                            <p id="ello_world">ELLO WORLD !</p>
                            <div id="text_profil">
                                <p> Nicolas Alliaume </p>
                                <p><strong> Développeur web full stack </strong></p>
                            </div>
                        </div>
                        <div class="ball"></div>
                    </div>
                    
                    <div class="row" id="second_row">
                        <button class="contact-button" id="form_button">Contact</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'main/footer.html.twig' %} 

{% endblock %}

