{% extends 'base.html.twig' %}
{% block body %}

<nav class="nav flex-column">
  <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
  <a class="nav-link" href="#"><i class="fab fa-whmcs"></i></a>
  <a class="nav-link" href="#"><i class="fas fa-project-diagram"></i></a>
  <a class="nav-link disabled" href="#"><i class="fas fa-address-card"></i></a>
</nav>

{% endblock %}