{% extends 'base.html.twig' %}
{% block body %}

<nav class="nav flex-column">
  <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
  <a class="nav-link" href="#"><img src="{{ asset('images/skills.jpg') }}" alt=""></a>
  <a class="nav-link" href="#"><img src="" alt=""></a>
  <a class="nav-link disabled" href="#"><img src="" alt=""></a>
</nav>

{% endblock %}