{% block body %}
<div id="nav_bar">
<nav class="" id="nav">
  <a class="menu" href="{{ path('main') }}"><i class="fas fa-home"></i></a>
  <a class="menu" href="{{ path('skills') }}"><i class="fab fa-whmcs"></i></a>
  <a class="menu" href="{{ path('projects') }}"><i class="fas fa-project-diagram"></i></a>
  <a class="menu"><i class="fas fa-address-card"></i></a>
</nav>
</div>

{% endblock %}