{% block body %}
    <div class="template">
        <h1 class="n-logo" id="cv_click">N</h1>
        <div class="container" id="container_cv">
            <i class="far fa-times-circle"></i>
            <img src="{{ asset('images/cv-mini.jpg') }}" alt="mini Cv">
            <form method="get" action="CVperso.pdf">
                <button><i class="fa fa-download"></i>Telecharger</button>
            </form>
        </div>
        
        <img id="close_pc" class="pc" src="{{ asset('images/pc-fermer-removebg-preview.png') }}" alt="">
        {% include 'main/menu.html.twig' %}
    </div>

    <div class="red-line"></div>
    <div id="white-line1"></div>
    <div id="white-line2"></div> 
    <div id="white-line3"></div>
    <div id="white-line4"></div>


{% endblock  %}
{% block footer %}
        
{% endblock %}
