{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aucune page trouvée</h1>
    <div class="container text-center">
    <p>
        Veuillez revenir au menu principal <a href="{{ path('main') }}">page d'accueil</a>.
    </p>
    </div>
    {# <p>Le code est : {{status_code}}</p>
    <p>Le texte est : {{status_text}}</p> #}
{% endblock %}