{% extends 'base.html.twig' %}

{% block title %}Hello CommentsController!{% endblock %}

{% block body %}

<section class="project_page">
    <div class="container">
        <img src="{{ vich_uploader_asset(portfolio.image[1], 'imageFile') | imagine_filter('slider_thumb')}}" alt="image projet">
    </div>
</section>

{% endblock %}
