.logout{
    background: #353548;
    border-radius: 3px;
    margin: 20px;
    padding: 5px;
}
.logout a{
    color: white;
}
.modo_accueil{ 
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif; 
}

.modo_accueil ul a{
    color : #353548
}