/* ------------ Project Page -------------- */

h1{
    text-align: center;
    margin: 4%;
}
.project_page p{
    font-size: 1.1em;
    margin: 4% 0%;
    text-align: center;
}
.content{
    width: 100%;
}
figure{
    text-align: center;
}
#comment_block{
    margin-bottom: 30px;
}
#comments{
    border : 1px solid;
    margin-bottom: 9%;
    margin-top: 4%;
}
#author_comment{
background-color: #353648;
color :white
}
#content_comment{
background-color: #35364859;
}