/* ------------ Project Page -------------- */

#comments{
    border : 1px solid;
}
#comment{
    margin-top: 3%;
}
#author_comment{
background-color: #353648;
color :white
}
#content_comment{
background-color: #35364859;
}