#block_competences{
    color: white;
}
#progress_bar{
    height: 22px;
    width: 100%;
    margin-top: 1.2%;
}
#progress_bar2{
    height: 22px;
    width: 100%;
    margin-top: 1.2%;
}
.progresss-bar{
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease
}
.img-logo img{
    width: 22px;
}

#progress_bar_blue{
    background-color: rgb(239, 175, 33)
}
#progress_bar_red{
    background-color: rgb(56, 99, 179)
}
#progress_bar_pink{
    background-color: rgb(233, 45, 123)
}
#progress_bar_grey{
    background-color: rgb(38, 39, 39)
}
#progress_bar_black{
    background-color: rgb(0, 1, 5)
}
#progress_bar_lightBlue{
    background-color: rgb(45, 201, 248)
}
#progress_bar_purple{
    background-color: rgb(117, 20, 173)
}
#progress_bar_yellow{
    background-color: rgb(232, 196, 21);
}
