body{
    overflow-x: hidden;
    position: relative;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{ 
    background : #353548;
    max-width: 200px;
    min-width: 200px;
}
#all-content{
    width: 100%;
}
#header{
    height: 400px;
}
#block_competences{
    height: 500px;
    margin-left: 0;
    margin-right: 0;
}
#block_portfolio{
    height: 1400px;
}
#block_contact{
    margin-top: 20px;
    height: 380px;
}
footer{
    background: #353648;
}
.button{
    background: #14a7ea;
    border: 1px solid white;
    padding: 9px 46px;
    border-radius: 4px;
}
.button a{
    font-size: 1.2em;
}
.button a:hover{
    text-decoration: none;
}

/* sections block titre */

.block_title{
    height: 165px;
    background: #35334814;
    width: 100%;
}
.title_elmt{
    display: flex;
    flex-direction: column;
}
.minus_block{
    text-align: center;
    margin-top: 61px;
}
.minus_one{
    color: #11a7ea
}
.minus_two{
    color: #1d75d2;
}
.minus_three{
    color: #353648;
}
.title{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.title h4{
    font-family: 'Philosopher', sans-serif;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.title img{
    height: 39px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}    

/*------------------------------------- ASIDE -------------------------------------*/

#aside h3{
    font-family: 'Oswald', sans-serif;
}
.sidebar-header{
    color: white;
    margin-top: 4%;
}
#sidebar ul{
    justify-content: center;
}
.block_nav{
    position: fixed;
    top: 27%;
    width: 15.7%
}

.block_nav ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: end;
}
.block_nav a{
    font-family: 'Catamaran', sans-serif;
    padding-left: 20px
}

.block_network{
    position: fixed;
    top: 82%;
    text-align: center;
    width: 15.7%;
}
h6{
    color: white;
}
/*----------------------------------- HEADER -----------------------------------*/

.header_p{
    font-family: 'Merienda', cursive;
    font-size: 1.3em;
    color: #212529e8;
    width: 93%;
    box-shadow: 0px 0px 7px;
    text-align: center;
}

#block_photo{
    max-width: 35%;
    margin: auto;
    padding-bottom: 40px;
}

/* Mon profil */

#block_profil{
    height: fit-content;
}

#profil{
    justify-content: center;
    align-items: center;
}
.block-down{
    margin-right: 5%;
}
.from-center{
    margin-left: 45px;
}
/* Animation double Flèches vers le bas */
/* 
@keyframes down{
	0% {transform: translateY(0%) ; opacity: 0.5}
	25% {transform: translateY(-30%); opacity: 0.2}
    75% {transform: translateY(30%); opacity: 1}
    100% {transform: translateY(0%); opacity: 0.5}
}
.double-down{
	animation: down 1.2s infinite;
	width: 3%;
} */

/* ~~~~~~~ INIT. BTN ~~~~~~~ */

#profil{      
    position: relative; 
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: black;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
    cursor: pointer;
    user-select: none;
}

#profil:before, #profil:after {
    content: '';
    position: absolute; 
    transition: inherit;
    z-index: -1;
    box-sizing: border-box;
}

#profil:hover {
    color: white;
    transition-delay: .5s;
}

#profil:hover:before {
    transition-delay: 0s;
}

#profil:hover:after {
    background: #353648;
    transition-delay: .35s;
}


#profil:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid #353648;
    border-left: 0;
    border-right: 0;
}

#profil:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #353648;
}

#profil:hover:before {
    left: 0;
    width: 100%;
}

#profil:hover:after {
    top: 0;
    height: 100%;
}

#profil_panel{
    display: none;
}


/* ------------------------------------BLOCK COMPETENCES--------------------------------------*/
#skills{
    display: flex;
    width: 100%;
}
.skills{
    margin-bottom: -200px;
}
.skills-title{
    align-items: center;
}
.skills-title i{
    margin: inherit;
}
.logo-skills p{
    width: fit-content;
    margin: auto;
}
.logo-skills:hover{
   font-size: 20px;
   transition: 1s;
   font-weight: bold;
}
#skills img{
    width: 48px;
}
#skills img:hover{
    width: 65px;
    transition: 0.5s;
}
.align-title{
    margin: inherit;
    margin-left: 5px;
}

#front{
    width: 53%;
    border-bottom: 300px solid whitesmoke;
}
#back{
    width: 59%;
    border-bottom: 300px solid #353448;
    border-left: 43px solid #f5f5f5fc;
}

/* -------------------------------------------BLOCK PORTFOLIO----------------------------------------- */

#para_portfolio{
    height: 100px;
    padding: 0px 20px;
    text-align: center;
}

/* -------Slider------- */
.block_slides{
    height: 40%;
}
#block_portfolio h4{
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}
.panel_project{
    width: 92%;
    margin: auto;
    display: none;
    box-shadow: 0px 0px 27px #353448;
    border-radius : 5px;
}


.description_project{
    border-bottom: 5px solid #f39c12c9;
    background: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.description_project h4{
    font-weight: 700;
}
.description_project p{
    font-size: 1.1em;
}
.project img{
    width: 100%;
}
.project_link{
    border: 2px solid white;
    text-align: center;
    padding: 16px 15px;
    margin-top: -1%;
    background: #1e74d2;
}
.project_link:hover {
    background: #11a7ea;
}
.project_link a:hover{
    text-decoration: none;
}
.skills_project{
    border-top: 5px solid #f39c12c9;
}
.skills_project p{
    padding-right: 2%;
    padding-left: 2%;
    padding : 10px;
}
.skills_project span{
    font-weight: bold;
}
/* Cards projects */

#block_project_card{
    margin-top: 23%;
}
#projects_cards{
    text-align: center;
    justify-content: center;
    margin-left: 5%;
}
.project_card{
    color: white;
    margin-left: -10%;
    border: 1px solid;
    box-shadow: 0px 0px 3px;
    border-right: 2px solid;
    border-radius: 11px;
    max-width: 22%;
    background: #353348;
    cursor: pointer;
}
.project{
    opacity: 0.8;
}
.project h4{
    color: white;
}
.project p{
    color: white; 
}
.project_content p{
    padding: 3% 9% 0% 9%;
    margin-bottom: 0;
    text-align: justify;
    font-size: 0.8em;
}
.project_content p:last-child{
    margin-bottom: 3%;
}
.project_content h4{
    padding: 3%;
}
.project_content img{
    width: 99%;
}
.project_content .project_link{
    display: none;
}
/*------------------------------------------- BLOCK CONTACT ---------------------------------------- */

#block_contact address a{
    font-weight: bold;
    color: #353648;
}

.modal_contact{
    display: none;
    background: white;
    z-index: 100;
    margin-bottom: 10%;
    margin-top: 4%;
}

#errors_form{
    color: red;
    font-size: 1em;
    display: none;
}

/*-------------------------- MENTIONS LEGALES ------------------------*/

#mentions_body a{
    color: #0087d1;
}

/*---------------------------- FOOTER ---------------------------------*/

.copyright{
    
}

/*================================================ RESPONSIVE ======================================================== */
/*================================================            ======================================================== */

@media screen and (min-width: 1250px){
    #block_project_card {
        margin-top: 29%;
    }
    #block_contact {
        margin-top: 12%;
    }
}

@media screen and (max-width: 991px){
    .wrapper{
        display: block;
    }
    #sidebar{
        min-width: 100%;
        max-width: 100%;
    }
    .block_nav{
        position: inherit;
        display: contents
    }
    .block_nav ul{
        display: flex;
        flex-direction: inherit;
        justify-content: center;
    }
    .block_network{
        position: absolute;
        top: 0%;
        left: 1%;
    }
    .block_network h6{
        display: none;
    }
    #mentions_body{
    margin-left: 2%;
    }

    #block_competences{
        height: auto;
    }

    #skills{
        height: fit-content;
        flex-direction: column;
        display: flex !important;
    }
    .skills{
        margin-bottom: 0;
    }
    #front{
        width: auto;
        border-bottom: none;
        background-color: #f5f5f5;
    }
    #text_black{
        padding: 20px 30px
    }
    #back{
        width: auto;
        border-bottom: none;
        border-left: none;
        background-color: #353448;
    }
    #text_white{
        padding: 20px 30px
    }
    .logo-skills{
        width: 20% !important;
    }
    #block_portfolio{
        height: auto;
    }
    #para_portfolio{
        margin-top: 5%;
        margin-bottom: 12%;
    }
    #block_project_card {
        margin-top: 20%;
    }
    .project_card {
        max-width: 26%;
        height: 259px;
    }
}

@media screen and (max-width: 702px){
    .projects_cards{
        margin-left: 5%;
    }
    .project_content p {
        font-size: 0.7em;
    }
    .project_card {
        max-width: 29%;
        height: 241px;
    }
   
}
    @media screen and (max-width: 500px){
    .project_card {
        max-width: 62%;
        height: 126px;
        overflow: hidden;
        margin-bottom: 10px;
        border: 1px solid #353447;
        }
    .block_slides{
        margin: 0% 0% 0% 2% !important;   
    }
   
    .project_content .project_link{
        display: block;
    }
    #projects_cards{
        text-align: -webkit-center;
    }
    .project_content img{
        width: 99%;
        margin: auto;
        height: 59px;
        border-radius: 7% 7% 0 0;
    }
    .para_cards:first-child{
        display: none;
    }
    .card_link{
        background: #1e74d2;
        height: 21px;
        border: 1px solid #1f74d1;
    }
    .block_network{
        top: 0%;
        left: 2%;
    }
    .block_network div{
        flex-direction: column;
    }
    .block_network img{
        height: 36px;
        width: 36px;
    }
    h6{
        display: none;
    }
    #contact_block{
        width: 80%;
    }
}